<%- include('partial/header.ejs') %>

<div class="form-body">
  <div class="p-md-3 h-100 d-md-flex">
    <%- include('partial/sidebar.ejs') %>
    <div class="left-bar"><%- include(`partial/steps.ejs`) %></div>
  </div>
</div>

<%- include('partial/footer.ejs') %>
