<%- include('partial/header.ejs') %>

<div class="form-body">
  <div class="p-3 h-100 d-flex">
    <%- include('partial/sidebar.ejs') %>
    <div class="left-bar">
      <%- include(`partial/step1.ejs`) %>
    </div>
  </div>
</div>

<%- include('partial/footer.ejs') %>
