<div class="sidebar p-5">
  <div class="steps">
    <div class="step mb-4">
      <div class="digit active" id="step1">1</div>
      <div class="step-value">
        <p class="d-md-block">Step 1</p>
        <p class="text-white">Your Info</p>
      </div>
    </div>
    <div class="step mb-4">
      <div class="digit" id="step2">2</div>
      <div class="step-value">
        <p class="d-md-block">Step 2</p>
        <p class="text-white">Select Plan</p>
      </div>
    </div>
    <div class="step mb-4">
      <div class="digit" id="step3">3</div>
      <div class="step-value">
        <p class="d-md-block">Step 3</p>
        <p class="text-white">Adds-on</p>
      </div>
    </div>
    <div class="step mb-4">
      <div class="digit" id="step4">4</div>
      <div class="step-value">
        <p class="d-md-block">Step 4</p>
        <p class="text-white">Summary</p>
      </div>
    </div>
  </div>
</div>
