<div class="p-5 steps-value step1">
  <h1>Personal info</h1>
  <p class="mb-4">Please provide your name, email address, and phone number.</p>
  <form class="row g-3 mt-3 needs-validation" novalidate>
    <div class="col-md-12 position-relative">
      <label for="validationCustom01" class="form-label">Name</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control text-capitalize"
        id="validationCustom01"
        placeholder="e.g. Stephen King"
        required
      />
      <p class="invalid-feedback text-red">This field is required</p>
    </div>
    <div class="col-md-12 card-num-input position-relative">
      <label for="validationCustom02" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        autocomplete="off"
        id="validationCustom02"
        placeholder="e.g. stephenking@lorem.com"
        required
      />
      <p class="invalid-feedback text-red">This field is required</p>
    </div>
    <div class="col-md-12 position-relative">
      <label for="validationCustom03" class="form-label">Phone Number</label>
      <input
        type="text"
        class="form-control"
        autocomplete="off"
        id="validationCustom03"
        placeholder="e.g. +1 234 567 890"
        required
      />
      <p class="invalid-feedback text-red">This field is required</p>
    </div>
    <div class="f-sub">

      <button class="btn btn-primary submit mt-5" type="submit">Next Step</button>
    </div>
  </form>
</div>
<div class="p-5 steps-value step2 hide">
  <h1>Select your plan</h1>
  <p class="mb-4">You have the option of monthly or yearly billing.</p>
  <div class="billing">
    <div class="mt-5 d-md-flex">
      <div class="billing-box billed p-3" id="arcade">
        <div class="billing-image mb-5 pt-none">
          <img src="/images/icon-arcade.svg" alt="arcade" />
        </div>
        <div class="billing-text monthly-billing pt-none">
          <h5>Arcade</h5>
          <p>$9/mo</p>
        </div>
        <div class="billing-text yearly-billing hide pt-none">
          <h5>Arcade</h5>
          <p>$90/yr</p>
          <span>2 months free</span>
        </div>
      </div>
      <div class="billing-box p-3 mx-md-3" id="advanced">
        <div class="billing-image mb-5 pt-none">
          <img src="/images/icon-advanced.svg" alt="advanced" />
        </div>
        <div class="billing-text monthly-billing pt-none">
          <h5>Advanced</h5>
          <p>$12/mo</p>
        </div>
        <div class="billing-text yearly-billing pt-none hide">
          <h5>Advanced</h5>
          <p>$120/yr</p>
          <span>2 months free</span>
        </div>
      </div>
      <div class="billing-box p-3" id="pro">
        <div class="billing-image mb-5 pt-none">
          <img src="/images/icon-pro.svg" alt="pro" />
        </div>
        <div class="billing-text monthly-billing pt-none">
          <h5>Pro</h5>
          <p>$15/mo</p>
        </div>
        <div class="billing-text yearly-billing hide pt-none">
          <h5>Pro</h5>
          <p>$150/yr</p>
          <span>2 months free</span>
        </div>
      </div>
    </div>
    <div class="toggle-billing mt-4 d-flex">
      <span class="monthly">Monthly</span>
      <div class="toggle">
        <div class="circle"></div>
      </div>
      <span class="yearly grayscale">Yearly</span>
    </div>
    <div class="d-flex btn-nav justify-content-between mt-5 align-items-center">
      <p class="grayscale to-step1 btn" onclick="setSteps('step1')">Go Back</p>
      <button
        class="btn btn-primary submit"
        type="submit"
        onclick="setSteps('step3')"
      >
        Next Step
      </button>
    </div>
  </div>
</div>
<div class="p-5 steps-value step3 hide">
  <h1>Pick add-ons</h1>
  <p class="mb-4">Add-ons help enhance your gaming experience.</p>
  <div class="add-on">
    <div
      class="online-service d-flex justify-content-between align-items-center billed"
      id="online-ad"
    >
      <div
        class="online-ad-info d-flex align-items-center justify-content-between pt-none"
      >
        <input type="checkbox" id="online" class="mr-1" checked />
        <div>
          <h5 class="mb-0 marine-blue f-700">Online service</h5>
          <p class="grayscale">Access to multiplayer games</p>
        </div>
      </div>
      <span class="ad-pricing purplish-blue pt-none online-pricing"
        >+$1/mo</span
      >
    </div>
    <div
      class="online-service d-flex my-4 justify-content-between align-items-center billed"
      id="larger-ad"
    >
      <div
        class="online-ad-info d-flex align-items-center justify-content-between pt-none"
      >
        <input type="checkbox" id="larger" class="mr-1" checked />
        <div>
          <h5 class="mb-0 marine-blue f-700">Larger storage</h5>
          <p class="grayscale">Extra 1TB of cloud save</p>
        </div>
      </div>
      <span class="ad-pricing purplish-blue pt-none larger-pricing"
        >+$2/mo</span
      >
    </div>
    <div
      class="online-service d-flex justify-content-between align-items-center"
      id="custom-ad"
    >
      <div
        class="online-ad-info d-flex align-items-center justify-content-between pt-none"
      >
        <input type="checkbox" id="custom" class="mr-1" />
        <div>
          <h5 class="mb-0 marine-blue f-700">Customizable Profile</h5>
          <p class="grayscale">Custom theme on your profile</p>
        </div>
      </div>
      <span class="ad-pricing purplish-blue pt-none custom-pricing"
        >+$2/mo</span
      >
    </div>
    <div class="d-flex btn-nav justify-content-between mt-5 align-items-center">
      <p class="grayscale to-step1 btn" onclick="setSteps('step2')">Go Back</p>
      <button
        class="btn btn-primary submit"
        type="submit"
        onclick="setSteps('step4')"
      >
        Next Step
      </button>
    </div>
  </div>
</div>
<div class="p-5 steps-value step4 hide">
  <h1>Finishing up</h1>
  <p class="mb-4">Double-check everything looks OK before confirming.</p>
  <div class="summary p-4 mt-2 rounded">
    <div class="d-flex align-items-center justify-content-between">
      <div class="plan-price">
        <h5 class="text-capitalize">Arcade(Monthly)</h5>
        <span class="change grayscale" onclick="setSteps('step2')">Change</span>
      </div>
      <h5 class="pricing">+$1/mo</h5>
    </div>
    <hr />
    <div></div>
  </div>
  <div class="total d-flex justify-content-between px-4 mt-4">
    <h6 class="grayscale total-bill"></h6>
    <h5 class="total-value purplish-blue f-700"></h5>
  </div>
  <div class="d-flex btn-nav justify-content-between mt-5 align-items-center">
    <p class="grayscale to-step1 btn" onclick="setSteps('step2')">Go Back</p>
    <button
      class="btn btn-primary submit"
      type="submit"
      onclick="setSteps('final')"
      id="total-btn"
    >
      Confirm
    </button>
  </div>
</div>
<div class="p-5 steps-value final hide">
  <div class="d-flex flex-column align-items-center">
    <img src="/images/icon-thank-you.svg" alt="check-pics" />
    <h1 class="my-3 f-700">Thank You!</h2>
    <p class="text-center my-2">
      Thanks for confirming your subscription! We hope you have fun using our
      platform. If you ever need support, please feel free to email us at
      support@loremgaming.com.
    </p>
  </div>
</div>
