<div class="p-5 steps-value step1">
  <h1>Personal info</h1>
  <p class="mb-4">Please provide your name, email address, and phone number.</p>
  <form class="row g-3 mt-3">
    <div class="col-md-12">
      <label for="validationCustom01" class="form-label">Name</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control text-capitalize"
        id="validationCustom01"
        placeholder="e.g. Stephen King"
        required
      />
    </div>
    <div class="col-md-12 card-num-input">
      <label for="validationCustom02" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        autocomplete="off"
        id="validationCustom02"
        placeholder="e.g. stephenking@lorem.com"
        required
      />
    </div>
    <div class="col-md-12">
      <label for="validationCustom03" class="form-label">Phone Number</label>
      <input
        type="text"
        class="form-control"
        autocomplete="off"
        id="validationCustom03"
        placeholder="e.g. +1 234 567 890"
        required
      />
    </div>
    <button class="btn btn-primary submit mt-5" type="submit">Next Step</button>
  </form>
</div>
<div class="p-5 steps-value step2 hide">
  <h1>Select your plan</h1>
  <p class="mb-4">You have the option of monthly or yearly billing.</p>
  <div class="billing">
    <div class="mt-5 d-flex">
      <div class="billing-box p-3 billed">
        <div class="billing-image mb-5">
          <img src="/images/icon-arcade.svg" alt="arcade" />
        </div>
        <div class="billing-text">
          <h5>Arcade</h5>
          <p>$90/yr</p>
          <span>2 months free</span>
        </div>
      </div>
      <div class="billing-box p-3">
        <div class="billing-image mb-5">
          <img src="/images/icon-advanced.svg" alt="arcade" />
        </div>
        <div class="billing-text">
          <h5>Advanced</h5>
          <p>$120/yr</p>
          <span>2 months free</span>
        </div>
      </div>
      <div class="billing-box p-3">
        <div class="billing-image mb-5">
          <img src="/images/icon-pro.svg" alt="arcade" />
        </div>
        <div class="billing-text">
          <h5>Pro</h5>
          <p>$150/yr</p>
          <span>2 months free</span>
        </div>
      </div>
    </div>
    <div class="toggle-billing mt-4 d-flex">
      <span class="grayscale">Monthly</span>
      <div class="toggle">
        <div class="circle"></div>
      </div>
      <span>Yearly</span>
    </div>
    <div class="d-flex justify-content-between mt-5 align-items-center">
      <p class="grayscale to-step1">Go Back</p>
      <button class="btn btn-primary submit" type="submit">Next Step</button>
    </div>
  </div>
</div>
