<div class="p-5 steps-value step1">
  <h1>Personal info</h1>
  <p class="mb-4">Please provide your name, email address, and phone number.</p>
  <form class="row g-3 mt-3">
    <div class="col-md-12">
      <label for="validationCustom01" class="form-label">Name</label>
      <input
        type="text"
        autocomplete="off"
        class="form-control text-capitalize"
        id="validationCustom01"
        placeholder="e.g. Stephen King"
        required
      />
    </div>
    <div class="col-md-12 card-num-input">
      <label for="validationCustom02" class="form-label">Email Address</label>
      <input
        type="email"
        class="form-control"
        autocomplete="off"
        id="validationCustom02"
        placeholder="e.g. stephenking@lorem.com"
        required
      />
    </div>
    <div class="col-md-12">
      <label for="validationCustom03" class="form-label">Phone Number</label>
      <input
        type="text"
        class="form-control"
        autocomplete="off"
        id="validationCustom03"
        placeholder="e.g. +1 234 567 890"
        required
      />
    </div>
    <button class="btn btn-primary submit mt-5" type="submit">Next Step</button>
  </form>
</div>
